$max: 90vmin;
$column: 80vh;
$gap: 8vmin;
$min: 1vmin;

$min2: 2vmin;
$min3: 3vmin;
$min4: 4vmin;

$header: 48px;
$subheader: 24px;
$title: 22px;
$text9: 16px;
$text6: 12px;

$gray: gray;
$red: tomato;
$light: #ddd;
$darkgray: lightslategray;